<div class="content-heading">
	Rabobank - CSV File Reader
</div>
<div class="row">
  <div class="bottomheight">
    <div class="col-md-3">
      <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" class="btn btn-primary" (change)="uploadListener($event)" accept=".csv" />
    </div>
    <div class="col-md-3">
      <input type="button" name="Reset" id="txtFileReset" class="btn btn-primary contentData" (click)="fileReset()" value="Reset"/>
    </div>
  </div>
</div>
<div class="center">
  <table class="grayTemplate" *ngIf="records.length > 0">
  <thead>
  <tr>
    <th>FirstName </th>
    <th>Sur name </th>
    <th>Issue Count </th>
    <th>Date of birth </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records;let i = index;">
    <td> <span>{{record.firstName}}</span> </td>
    <td> <span>{{record.surName}}</span> </td>
    <td> <span>{{record.issueCount}}</span> </td>
    <td> <span>{{record.dateOfBirth}}</span> </td>
  </tr>
  </tbody>
</table>
</div>